<div class="footer">
    
    <div class="container text-center text-light">
      <div class="row">
         <div class="col-lg-4 ft1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amedolore aut eos, magni omnis ratione recusandae autem ea numquam inventore ut libero fugiat? Eaque, aspernatur unde! Ut sed nisi minus hic recusandae suscipit voluptates possimus eligendi. Est magni dist
          </div>
    
          
          <div class="col-lg-4">
            <ul class="social">
               <li><a href="#"><i class="fa fa-twitter"></i></a>Twitter </li>              
               <li><a href="#"><i class="fa fa-linkedin"></i></a>Linkedin</li>
               <li><a href="#"><i class="fa fa-github"></i></a>Github</li>
            </ul>
              </div>
              <div class="col-lg-4 ft1">
                Lorem ipsum dolor sit amet consectetur adipipsa, ullam nam fugiat quibusdam modi distinctio repudiandae nulla nesciunt vero minus? Distinctio modi necess beatae nostrum blanditiis laborum!
              </div>
    </div> 
    <hr class="text-light">
        <div class="last text-light">copyright &copy;Mwingakazoka</div>
</div>
