.footer{    
    background-color:black;
    position: sticky;
    top:100%;
    padding:20px 10px;
}
.socials {
   color:black;
   font-size: 48px;
   

}
.social {
    list-style: none; 
    margin: 1rem 0 3rem 0;
    
}
.social a{
 color: rgb(253, 248, 248);

}
.social a i{
    font-size: 30px;
    padding: 10px;
   
}
.social a:hover i{
   color: aqua;
}
.ft1 {
    text-align: justify;
}