<section class="bg-secondary text-light p-5 text-center">
    <div class="container">
       <div class="d-flex zed">
        <div class="p-2">
            <h2>Location</h2>
             <p> The Zambezi Restaurant is on the banks of the Zambezi river
                in Zambia Africa. ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, at explicabo. Magnam velit illo enim placeat, repellendus nostrum sed</p>
            <p> esse Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio illo animi optio fugiat dicta corrupti quasi sint voluptatem harum nobis. 
                Eius delectus placeat repellendus earum magnam provident obcaecati recusandae at voluptate incidunt vel in expedita modi assumenda dolorum nulla reprehenderit, ex dolore. Atque suscipit placeat labore voluptas? Veniam doloribus dicta quisquam? Minima nobis a optio aperiam saepe corporis fugit repudiandae.
            </p>
        </div>
        <div>
            <img  src="../../assets/river.jpg" alt="" />
        </div>
       </div>
    </div>
</section>