
    <div class="container mt-5 mb-5 bg-secondary">
        <div class="contact1 text-center"><h1>Reservations</h1></div>
        <hr>
        <h1>Contact</h1>
        <form>
            <div class="row">
                <div class="col-lg-6 mt-2 mb-2">
                    <input type="text" class="form-control" placeholder="Enter First Name">
                </div>
                <div class="col-lg-6 mt-2 mb-2">
                    <input type="text" class="form-control" placeholder="Enter First Name">
                </div>
                <div class="col-lg-12 mt-2 mb-2">
                    <input type="text" class="form-control"placeholder="Enter Mobile">
                </div>
                <div class="col-lg-12 mt-2 mb-2">
                    <input type="text" class="form-control"placeholder="Enter Email Address">
                </div>

                <div class="col-lg-12">
                    <button class="btn btn-md btn-dark">Submit</button>
                </div>
            </div>
        </form>
    </div>