
<!--showcase Area image-->
<div class="banner">
    <div class="container text-light text-center">
        <h1>The Zambezi Restaurant</h1>
        <button class="btn btn-primary btn-lg">
            Make A Reservation
        </button>
    </div>
    
<!--Paragragh detailing how i made my website--> 
</div>
<div class="section bg-dark text-light">
  <div class="container">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat cupiditate architecto modi incidunt? Reprehenderit quisquam id illo impedit nobis inventore, quas dicta laboriosam neque voluptatibus consequatur magnam dolores rerum, similique voluptas repellat ut assumenda! Provident eaque quia sapiente eveniet, aliquam doloribus temporibus consectetur tempora vitae, autem, natus repellat optio nostrum culpa quidem deleniti a eum quo ut tempore numquam animi repudiandae illo. Minus accusamus quod itaque, sunt debitis, ipsam ipsum earum veniam nobis, praesentium repellendus quaerat? Sint, ratione assumenda?
  </div>
</div>
<!--Bootstrap cards here-->
<section class="p-5">
  <div class="container">
    <div class="row text-center">
        <div class="col-md">
            <div class="card bg-dark text-light mb-3" style="width: 18rem;">
                <img src="../../assets/dish.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card bg-secondary text-light mb-3" style="width: 18rem;">
                <img src="../../assets/dining.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card bg-dark text-light mb-3" style="width: 18rem;">
                <img src="../../assets/meal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
  </div>
</section>