h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 60px;
    padding-top: 100px;
    margin-left: 20px;
    text-align: center;

}
.banner{
    background-image: url('../../assets/wine.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}
/*.big:hover{
    opacity: 0.5;
}*/
.card {
    box-shadow: 5px 10px 5px rgb(77, 75, 75);
}
    

