
<!--showcase Area image-->
<div class="banner">
    <div class="container text-light text-center">
        <h1>The Zambezi Restaurant</h1>
        <button class="btn btn-primary btn-lg">
            Make A Reservation
        </button>
    </div>
    
<!--Paragragh detailing how i made my website--> 
</div>
<div class="section bg-dark text-light p-5">
     <h2 class="prep1">Purpose Of The AngularBootsrap-UI.</h2>
    <p class="prep">
   This User-Interface showcases not only showcases how to code in Angular Components, Angular Routing but also how a Developer can incorporate Bootstrap along with some custome styling. Its easier to refer to Bootstrap documentation to correct 
   when mistakes arise when working in team. It is also easier to maintain and update Websites/Apps when they coded in components and that is using frame works such as REACT and Angular makes life of a Developer much easier. My Navbar, HomePage, AboutPage,ContactPage, and Footer were 
   all coded in seperate components making it easier to make changes.
  </p>
  
</div>
<!--Bootstrap cards here-->
<section class="p-5">
  <div class="container">
    <div class="row text-center">
        <div class="col-md">
            <div class="card bg-dark text-light mb-3" style="width: 18rem;">
                <img src="../../assets/dish.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card bg-secondary text-light mb-3" style="width: 18rem;">
                <img src="../../assets/dining.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card bg-dark text-light mb-3" style="width: 18rem;">
                <img src="../../assets/meal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
  </div>
</section>